@font-face{
    font-family: "Ch_Reg";
    src: url("../fonts/ChelseaMarket-Regular.ttf");
}
@font-face{
    font-family:"Paci_Reg";
    src: url("../fonts/Pacifico-Regular.ttf");
}
@font-face{
    font-family:"press2_reg";
    src: url("../fonts/PressStart2P-Regular.ttf");
}
h1 {
    font-family: "press2_reg";
    margin: 10px 10px 10px 10px;
    background-color: greenyellow;
    text-indent: 10%;
    font-size: large;
    text-align: center;
}
p {
    font-family:"Paci_Reg";
}
em {
    font-style: italic;
    font-weight: bold;
    text-decoration-color:red;
}
a{
    text-align:right;
}
a {
    text-decoration: none;
    text-align: right;
    font-family: "Ch_Reg";
    font-size: x-small;
}